$preview-width: 350px;
$preview-height: 350px;

/* semantic ui overrides */

#root .ui.form .grouped.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  .field {
    width: $preview-width;
  }
}

/* This is used to reset the default styles
applied to every element in this app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form__title {
  margin: 32px 0;
  text-align: center;
  color: #002952;
}

.form__img-input-container {
  position: relative;
  width: $preview-width;
  height: $preview-height;
  margin: auto;
  border: 3px dotted white;
  border-radius: 10px;
}

/* this class is used to hide the file input */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Adding the focus and focus-within styles for accessibility */
/* input.visually-hidden:focus + label,
input.visually-hidden:focus-within + label {
    outline: 8px solid rgba(86, 206, 239, .4);
} */

/* The file input is a labeled control, and since we hid it,
we're going to use its associated label to trigger it */
.form-img__file-label {
  position: absolute;
  z-index: 1;
  /* bottom: 14px; */
  bottom: 1px;
  left: 1px;
  right: 4px;
  margin: auto;
  display: block;
  width: 99%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.1);
  // background-color: transparent;
}

.form-img__file-label:hover {
  background-color: rgba(150, 150, 150, 0.9);
}

/* .form-img__file-label > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .7;
    transform: translate(-50%, -50%);
}

.form-img__file-label:hover > svg {
    opacity: 1;
} */

/* The image element is going to be positioned under the
label element, since the label is a see through, we're going
to be able to see the preview of the image. */
.form-img__img-preview {
  & > * {
    display: block;
    position: relative;
    left: 1px;
    top: 1px;
    object-fit: contain;
    height: $preview-height - 50px;
  }
  & * {
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .no-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      position: relative;
      z-index: 0;
      color: black;
      background-color: white;
      border-top-right-radius: 10px;
      padding: 60% 30% 15%;
      text-align: center;
    }
  }
}
