@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

body {
  max-width: 1600px;
  margin: auto !important;
  font-family: "Jaldi", sans-serif !important;
  background: #161616 !important;
  /* display:flex;
  justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
